form {
  max-width: 500px;
}

.form-field {
  width: 100%;
  max-width: 500px;
  margin-bottom: 10px;
}

h2 {
  text-align: center;
  padding-bottom: 1rem;
}

.carga-pesos {
  padding-left: 1rem;
}
.mat-form {
  padding-right: 1rem;
}

.pading-pesos {
  padding-top: 2rem;
}

.mostrar-pesos {
  margin-top: 2rem;
}
button {
  margin-right: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 80%;
}
.card-datos {
  width: 80%;
  margin-top: 2rem;
}

.pesos {
  width: 120%;
}

#wrapper {
  width: 50%;
  margin-left: 12rem;
}

.row {
  box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -0.5rem;
  margin-left: -0.5rem;
}
